:root{
    -cor1: #fff;
    -cor2: rgb(32, 32, 32);
    -cor3: rgb(78, 0, 0);
}
header{
    margin: auto;
    max-width: 1024px;
    background-color: var(-cor1);
}

header > h1{
    background-color: var(-cor3);
    height: 200px;
    color: var(-cor1);
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
}

nav ul li a{
    display: inline;
    text-decoration: none;
    background-color: var(-cor3);
    color: var(-cor1);
}

nav ul li a:hover{
    background-color: var(-cor1);
    color: var(-cor3);
}

main{
    margin: auto;
    max-width: 1024px;
    background-color: var(-cor1);
}

footer{
    margin: auto;
    max-width: 1024px;
    background-color: rgb(34, 34, 34);
    color: var(-cor1);
}