/* PÁGINA INICIAL */

.direita{
    width: 270px;
    padding: 30px 30px 30px 30px;
    border-right: 1px solid var(--cor1);
}

.direita h2{
    text-align: center;
    color: var(--cor6);
    font-family: var(--fontDestaque);
}

.direita h3{
    font-family: var(--fontDestaque);
    color: var(--cor3);
}

.direita img{
    border-radius: 0px 0px 10px 10px;
}