@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); /* Titulo - font-family: 'Cabin', sans-serif;  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); /*  Padrão - font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); /*  Destaques - font-family: 'Newsreader', serif; */

@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap'); /*  Manuscrito - font-family: 'Sue Ellen Francisco', cursive;  */

:root{
    --cor0: #ffffff;
    --cor1: #dce1e4;
    --cor2: #9FA3A6;
    --cor3: #565759;
    --cor4: #F2D479;
    --cor5: #f08800;
    --cor6: #3d50be;

    --fontTitulo: 'Cabin', sans-serif;
    --fontDestaque: 'Newsreader', serif;
    --fontPadrao: 'Montserrat', sans-serif;
    --fontManuscrita: 'Sue Ellen Francisco', cursive;

    --larguraMaxima: 1080px;
    --larguraMinima: 330px;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor3);
}

body{
    background-color: var(--cor1);
}

strong{
    color: var(--cor5);
}

header{
    background-color: var(--cor6);
    margin: auto;
    max-width: var(--larguraMaxima);
    min-width: var(--larguraMinima);
    box-shadow: 0px 0px 5px var(--cor2);
}

header > h1{
    height: 400px;
    background-image: url('../imagens/topo-1B.jpg');
    background-size: cover;
    color: var(--cor0);
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 3em;
    display: flex;
	justify-content: center;
	align-items: center;
}

header img{
    width: 160px;
    height: 160px;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 10px solid var(--cor1);
    position: relative;
    margin-top: -80px;
    background-color: rgb(5, 6, 70);
    box-shadow: 0px 0px 5px var(--cor2);
}

header img:hover{
    box-shadow: 0px 0px 55px var(--cor4);
    border: 10px solid var(--cor0);
    background-color: rgb(5, 6, 70);
    transition: 1s;
}

/* MENU */

.menu ul{
    list-style-type: none;
    padding: 0;
    background-color: var(--cor6);
    font-weight: 700;
}

.menu ul li{
    display: inline;
    position: relative;
    transform: .3s;
}

.menu ul li a{
    color: var(--cor0);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: .3s;
}

.menu ul li a:hover{
    background-color: var(--cor4);
    color: var(--cor3);
}

/* SUBMENU */
.menu ul ul{
    display: none;
    left: 0;
    position: absolute;
}

.menu ul li:hover ul{
    display: block;
}

.menu ul ul{
    width: 170px;
}

.menu ul ul li a{
    display: block;
}

/*  CORPO  */
.conteiner{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor6);
    margin: auto;
    max-width: var(--larguraMaxima);
    min-width: var(--larguraMinima);
    box-shadow: 0px 0px 5px var(--cor2);
    background-color: var(--cor0);
}

/* RODAPE */

footer{
    background-color: var(--cor6);
    margin: auto;
    min-width: var(--larguraMinima);
    box-shadow: 0px 0px 5px var(--cor2);
    padding: 10px;
    color: var(--cor1);
    text-align: center;
    font-size: .8em;
}

.menuRodape a{
    color: var(--cor1);
    text-decoration: none;
    font-weight: 300;
}

.menuRodape a:hover{
    color: var(--cor4);
    font-weight: 600;
}

/* CONTEÚDO DAS PÁGINAS */
/*
H1: Título da página
H2: Destaques
H3: Titulo dos Conteúdos
H4:
*/

.conteiner h2{
    color: var(--cor6);
    font-family: var(--fontDestaque);
    font-weight: 600;
    padding: 20px 0px 20px 0px;
    text-align: left;
}

.normal{
    max-width: 480px;
    min-width: 270px;
    padding: 30px;
    text-align: justify;
    padding-bottom: 60px;
}

.normal p{
    text-indent: 30px;
}

.destaque{
    color: var(--cor5);
    font-family: var(--fontTitulo);
}

.normal ul{
    list-style-type: none;
}

.normal ul li{
    color: var(--cor6);
    padding: 20px 0px 10px 0px;
    font-weight: 700;
}

.normal ul li li{
    color: var(--cor5);
    padding: 0px 0px 0px 30px;
    font-weight: 400;
}

.normal iframe{
    width: 100%;
    height: 100%;
}

ul#lista li{
    font-weight: 600;
    padding: 5px 0px 5px 30px;

}

.linkInterno{
    color: var(--cor5);
    text-decoration: none;
}

.linkInterno:hover{
    text-decoration: underline;
    font-style: italic;
}

.comum{
    max-width: 420px;
    min-width: 270px;
    height: 100%;
    padding: 30px;
    text-align: justify;
    background-color: var(--cor1);
    margin: 30px 30px 50px 30px;
    border-radius: 10px;
}

.comum h3{
    font-family: var(--fontTitulo);
    color: var(--cor3);
    font-style: italic;
    margin-bottom: 30px;
}

#destaque{
    width: 90%;
    padding: 30px;
    margin: auto;
    background-color: var(--cor6);
    color: var(--cor5);
}

#destaque h3{
    color: var(--cor0);
    padding: 0px 0px 30px 0px;
}

#destaque p{
    color: var(--cor0);
}

#destaque a{
    text-decoration: none;
    font-family: var(--fontTitulo);
    font-style: italic;
    color: var(--cor5);
}

/* IMAGENS */
#banerCurriculum{
    padding: 30px;
    max-width: 480px;
    min-width: 270px;
}

#banerCurriculuns{
    display: block;
    padding: 30px;
    max-width: 480px;
    min-width: 270px;
    height: 100%;
}

.fotoPerfil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: auto;
}