:root{
    --cor1: #0586ff;
    --cor2: #5ff8f8;
    --cor3: #67f1bc;
    --cor4: #0f0e09;
    --corDestaque: #FAD41B;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--cor1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: var(--cor3);
    max-width: 900px;
    margin: auto;
    box-shadow: 0px 0px 6px var(--cor3);
}

header > h1{
    background-color: var(--cor3);
    height: 150px;
    text-align: center;
    padding-top: 100px;
    color: rgb(75, 64, 224);
    font-size: 3em;
    transition: 3s;
}

header > h1:hover{
    color: rgb(245, 164, 14);
    transition: 1s;
}


header > p{
    color: var(--cor4);
    text-align: center;
    background-color: var(--cor3);
    padding-bottom: 20px;
    margin-top: -80px;
}

nav{
    border: 2px solid white;
    background-color: var(--cor3);
}

ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px 10px 20px;
}

ul li a{
    text-decoration: none;
    color: var(--cor4);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}

ul li a:hover{
    background-color: var(--corDestaque);
    color: var(--cor3);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    transition: .3s;
}

header > div{
    width: 120px;
    height: 120px;
    background-image: var(--corDestaque);
    margin: auto;
    background-image: url('../imagens/perfil-pb.jpg');
    border-radius: 50%;
    border: 6px solid var(--cor1);
    background-size: 120px;
    transition: 1s;
}

header > div:hover{
    background-image: url('../imagens/perfil-color.jpg');
    background-size: 120px;
    border: 6px solid var(rgb(245, 164, 14));
    transition: 2s;
    box-shadow: ;
}

footer{
    background-color: var(--cor3);
    height: 30px;
    padding: 20px;
    margin: auto;
}

main{
    display: flex;
    background-color: rgb(36, 150, 226);
    max-width: 900px;
    margin: auto;
}

footer  a{
    color: var(--corDestaque);
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    font-style: italic;
    color: rgb(9, 24, 26);
}
main > div > img{
    width: 250px;
    height: 200px;
}

.index{
 border: 5px solid black;
 padding: 10px 10px 10px 10px;
 text-align: justify;
 transition: 3s;
}

#FOTO1{
 width: 300px;
 height: 200px;
 padding: 10px;
}

.destaque{
    color: red;
}

.destaque:hover{
    color: rgb(249, 253, 5);
}

.index:hover{
    color: rgb(1, 253, 253);
    transition: 1s;
}

/*CURRICULO*/

#foto{
    margin-left: 00px;
    width: 200px;
    height: 200px;
}

main article{
    margin-left: 0px;
    padding: 10px;
    border: 10px solid black;
    color: white;
    padding-top: 30px;
}
