
:root{
    --cor1: #fff;
    --cor2: rgb(12, 2, 2);
    --cor3: rgb(233, 127, 127);
    --cor4: rgb(172, 0, 0);
    --cor5: rgba(90, 80, 80, 0.089);
}

*{
margin: 0px;
padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(201, 185, 201);
}

header{
    background-color: var(--cor3);
    max-width: 900px;
    margin: auto;
    box-shadow: 0px 0px 7px var(--cor2);
}

header > div{
    width: 120px;
    height: 120px;
    background-color: rgb(207, 175, 207);
    background-image: url('../Imagens/perfil-pretoebranco.jpg');
    background-size: 120px;
    border-radius: 50% ;
    transition: 1s;
    margin: auto;
    margin-top: 60px;
    border: 6px solid var(--cor1);
}

header > div:hover{
    background-image: url('../Imagens/perfil1.jpg');
    background-size: 120px ;
    transition: 2s;
    border: 6px solid var(--cor2);
    box-shadow: 0px 0px 15px var(--cor4);
}

header > h1 {
    background-color: var(--cor3) ;
    height: 150px;
    color: rgb(177, 177, 166);
    text-align: center;
    padding-top:100px ;
    font-family: cursive;

}